Source: ifs-kernel-updates
Maintainer: Brian T. Smith <bsmith@systemfabricworks.com>
Section: kernel
Priority: extra
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
 linux-headers-3.16.0-4-amd64

Package: kmod-ifs-kernel-updates
Architecture: linux-any
Depends: ${misc:Depends},
 linux-image-3.16.0-4-amd64
Conflicts: compat-rdma
Replaces: compat-rdma
Description: Extra kernel modules for IFS
 Updated kernel modules for OPA IFS

Package: ifs-kernel-updates-dev
Architecture: linux-any
Section: libdevel
Depends: ${misc:Depends},
 kmod-ifs-kernel-updates (=${binary:Version})
Conflicts: compat-rdma
Description: Development headers for Intel HFI1 driver interface
 Development header files for Intel HFI1 driver interface

